.free__consultation {

    display: flex;
    align-items: center;
    background-color: white;
    color: black;

 

    &-inner {

        padding: 80px 0px;

      

    }

    &-block {
       
        display: flex;
        justify-content: space-between;
        gap: 60px;
        
.left{
// width: 100%;
margin-top: 40px;
    h3 {
        font-family: 'Benzin';
        font-size: 78px;
        line-height: 73px;
      
    }
    .free__consultation-sub-title {
        font-family: 'Benzin';
        font-size: 28px;
        margin-top: 50px;
        // background-color: red;
    }

}

    form {
        // width: 100%;
        // width: 100%;
        background-color: #062033;
        padding: 48px;
        max-width:520px;
        width: 100%;
        height:auto;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    .form__control {
        display: flex;
        flex-direction: column;
        gap: 100px;
        &.second {
            margin-top: 40px;
        }
    }
        
      input {
        font-size: 18px;
        font-family: 'Benzin';
        width: 100%;
        color: white;
      }

      button {
        border: none;
        outline: none;
        padding: 30px 30px;
        font-family: 'Benzin';
        font-size: 18px;
        margin-top: 34px ;
        cursor: pointer!important;
      }
    }


    }
}



// MEDIA 

@media screen and (max-width:1130px) {
    .free__consultation-block{
        display: flex;
        flex-direction: column;
    }
    .free__consultation-block .left h3 {
        max-width: 90%;
        font-size: 60px;
       
    }
}
@media screen and (max-width:576px) {
    .free__consultation-block{
        display: flex;
        flex-direction: column;
    }
    .free__consultation-block .left h3 {
        max-width: 60%;
        font-size: 30px;
       
    }
}